*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

#container {
    display: grid;
    grid-template-columns: 325px repeat(3, 1fr);
    grid-template-rows: 200px repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
}

#sidebar {
    grid-area: 1 / 1 / 5 / 2;
    background-color: #1992d4;
    display: grid;
    padding: 25px;
    align-content: start;
    gap: 40px;
    color: white;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
}

#header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: white;
    display: grid;
    gap: 5px;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .4fr .6fr;
}

#toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 1 / 1 / 2 / 4;
    padding-bottom: 0;
}

#left-toolbar {
    grid-area: 1 / 1 / 3 / 3;
    justify-content: center;
    align-content: center;
}

input {
    width: 70%;
    border: 0;
    border-radius: 25px;
    background-color: lightgray;
}

#right-toolbar {
    grid-area: 1 / 3 / 2 / 4;
    justify-content: center;
    align-content: center;
}

#user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 2 / 1 / 3 / 4;
}

#left-user-info {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: .25fr .75fr;
}

#buttons {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
}

button {
    background-color: #1992d4;
    color: white;
    padding: 8px;
    border: 0;
    width: 100px;
    border-radius: 25px;
    margin-left: 15px;
}

#content {
    grid-area: 2 / 2 / 5 / 5;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 30px;
}

#projects {
    grid-area: 1 / 1 / 2 / 4;
}

#project-cards {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.cards {
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-left: 8px solid orange;
}

#card-icons {
    text-align: end;
}

#right-bar {
    display: grid;
    grid-area: 1 / 4 / 2 / 5;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

#announcements {
    justify-content: center;
    align-items: center;
}