*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

#container {
    display: grid;
    grid-template-columns: 325px repeat(3, 1fr);
    grid-template-rows: 200px repeat(3, 1fr);
}

#sidebar {
    grid-area: 1 / 1 / 5 / 2;
    background-color: #1992d4;
    display: grid;
    padding: 25px;
    align-content: start;
    gap: 40px;
    color: white;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
}

#header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: white;
    display: grid;
    gap: 20px;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr;
}

#toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 1 / 1 / 2 / 4;
    padding-bottom: 0;
}

#left-toolbar {
    grid-area: 1 / 1 / 3 / 3;
    justify-self: stretch;
}

input {
    width: 70%;
    border: 0;
    border-radius: 20px;
    background-color: lightgray;
}

#right-toolbar {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
}

#user-info {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 2 / 1 / 3 / 4;
}

#left-user-info {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: .25fr .75fr;
}

#buttons {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
}

#content {
    grid-area: 2 / 2 / 5 / 5;
    background-color: lightgrey;
}